<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>添加个人信息</title>
</head>
<body>
  <header class="page-header">
    <div class="header__btn-left" id="backBtn"><i class="_icon icon-left"></i></div>
    <div class="header__title">个人信息</div>
    <div class="header__btn--right" id="logOut">退出</div>
  </header>

  <div id="basic-info-slot"></div>

  {{!-- <form class="form-container">
    <div class="form__title">家庭信息</div>
    <div class="form-btn">
      <div id="family-slot"></div>
    </div>
  </form> --}}

  <form class="form-container">
    <div class="form__title">家庭共有资产</div>

    <div id="family-asset-alot"></div>
  </form>
  <form class="form-container">
    <div class="form__title">个人资产</div>

    <div id="personal-slot"></div>
  </form>
  <form class="form-container">
    <div class="form__title">教育信息</div>
    <div id="education-slot"></div>
  </form>
  <form class="form-container">
    <div class="form__title">就业信息</div>
    <div id="work-slot"></div>
  </form>
  <form class="form-container">
    <div class="form__title">年收入信息</div>
    <div id="income-slot"></div>
  </form>
  <form class="form-container">
    <div class="form__title">婚姻信息</div>
    <div id="marriage-slot"></div>
  </form>
  <form class="form-container">
    <div class="form__title">户籍迁移信息</div>
    <div id="migration-slot"></div>
  </form>


</body>
</html>
